.b-color{
    margin: 0 5% 0 5% !important;
    background: rgba(255, 255, 255, 0.667);
    border-radius: 20px;
    box-shadow: 5px black;
    height: 100%;
    padding: 20px 0 20px 0;
    align-items: center;
}

.image-pos {
    animation: slideIn 1s;
    box-shadow: 2px 2px 10px black;
}

.intro-para {
    font-style: italic;
    font-size: x-large;
    color: rgb(0, 0, 0);
    text-align: justify;
    animation: popout 1s;
    text-indent: 2cm;
}

.fadeIn{
    animation: fade 1s;
}

.custom-marker{
    text-shadow: 2px 2px 5px black;
}

@keyframes slideIn{
    0%{
        transform: translateX(-200px);
        opacity: 0
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes popout{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes fade{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}