<nav class="navbar navbar-expand-md custom-nav">
  <div class="container-fluid">
    <span class="fa fa-bars fa-2x pointer" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
      aria-expanded="false" [hidden]="windowWidth >= 768"></span>
    <span class="navbar-brand">Portfolio</span>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let h of headings">
          <span class="nav-texts">{{h}}</span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>