<div class="row div-1 text-center b-color">
    <div class="col-md-10 col-lg-4 offset-md-1 offset-lg-1">
        <img class="image-pos" src="../../assets/images/My photo.jpg" style="max-width: 90%;">
    </div>
    <div class="col-md-10 col-lg-5 offset-lg-1 offset-md-1">
        <p id="summary" class="intro-para">A MEAN full stack developer aspiring to keep learning new technologies,
            domains and attain deep knowledge. Apply the acquired knowledge to develop ground breaking solutions
            and contribute immensely to the software world. I have worked on Blockchain platforms like Multichain,
            Ethereum and Corda. I have learnt and worked on Cloud platforms like AWS, Azure and GCP and developed
            a testing solution.
        </p>
    </div>
</div>